# Python Lesson
## Introduction
Das ist eine **Python**-*Einf√ºhrung*

In [1]:
print ("Hello World!")

Hello World!

In [2]:
name = "Lovelace"

In [3]:
print (name)

Lovelace

In [4]:
name

'Lovelace'

In [5]:
age = 73

In [6]:
print age

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(age)? (<ipython-input-6-8aa35324a0f2>, line 1)

In [7]:
print (age)

73

In [8]:
size = 1.7123

In [9]:
print (size)

1.7123

In [10]:
knows_math = True
print (knows_math)
likes_slacking = False
print (likes_slacking)

True
False

In [11]:
type(name)

str

In [12]:
type(age)

int

In [13]:
type(size)

float

In [14]:
5 + 5

10

In [15]:
10 - 5

5

In [16]:
age * 100

7300

In [17]:
name + name

'LovelaceLovelace'

In [18]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [19]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [20]:
age + size

74.7123

In [21]:
size / age

0.023456164383561642

In [22]:
my_result = size + age

In [23]:
print (my_result)

74.7123

In [28]:
age = "73"

In [32]:
age = int(age)

In [33]:
type(age)

int

# Funktionen und Methoden nutzen

In [29]:
name

'Lovelace'

In [30]:
len(name)

8

In [31]:
len(age)

2

In [34]:
name.upper()

'LOVELACE'

In [35]:
name.count("e")

2

In [36]:
name_capital = name.upper()

In [40]:
name.replace ("lace", " is everywhere")

'Love is everywhere'

## Listen und Dictionaries

In [41]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [42]:
names[2]

'Curie'

In [43]:
names[0]

'Lovelace'

In [44]:
names[3]

'Hawking'

In [45]:
names[-1]

'Hawking'

In [46]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [48]:
authors_and_birth_years = {"Lovelace": 1882,
                           "Darwin": 1809,
                           "Hawking": 1942}

In [49]:
authors_and_birth_years["Lovelace"]

1882

In [50]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [55]:
for name in names:
    print(name)
print("----------")

Lovelace
Darwin
Curie
Hawking
----------

In [52]:
name

'Hawking'

In [56]:
authors_and_birth_years

{'Lovelace': 1882, 'Darwin': 1809, 'Hawking': 1942}

In [69]:
for key, value in authors_and_birth_years.items():
    print(key + " was born in " +str(value) +".")

Lovelace was born in 1882.
Darwin was born in 1809.
Hawking was born in 1942.

## Bedingte Anweisungen (Conditionals)

In [70]:
temp = 20
if temp > 15:
    print("It¬¥s warm")

It¬¥s warm

In [71]:
temp > 15

True

In [72]:
temp < 15

False

In [73]:
temp = 20
if temp > 15:
    print("It¬¥s warm")
else:
    print("It¬¥s cold")

It¬¥s warm

In [74]:
temp < 15

False

In [80]:
temp= 40
if temp >= 25:
    print("It¬¥s hot")
elif temp >= 15:
    print("It¬¥s warm")
else:
    print("It¬¥s cold")

It¬¥s hot